.PersonCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


@media (max-width: 768px) {
  .PersonCard {
    flex: 0 0 calc(50% - 20px); /* Define a largura de cada card para dispositivos menores */
  }
}