.PersonCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
}

.CardContainer {
  max-width: 400px; /* Defina a largura máxima desejada para o contêiner */
  margin: 0 auto;
}

