.PersonCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px; /* Adicione uma margem inferior para criar espaço para o footer */
}


@media (max-width: 768px) {
  .PersonCard {
    flex-basis: calc(50% - 20px);
  }
}